image: python:3.12-slim

pages:
  stage: deploy
  before_script:
    - apt-get update
    - apt-get install -y default-jre graphviz plantuml
  script:
    - pip install mkdocs mkdocs-material mkdocs-build-plantuml-plugin mdx_truly_sane_lists
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH