image: python:3.12-slim

pages:
  stage: deploy
  script:
    - pip install mkdocs-material mkdocs-build-plantuml-plugin
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH