image: python:3.12-slim

pages:
  stage: deploy
  script:
    - pip install mkdocs mkdocs-material mkdocs-build-plantuml-plugin mdx_truly_sane_lists mkdocs_puml
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH